body {
  text-align: center;
}

.gameData {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.score,
.hits,
.difficulty {
  font-family: sans-serif;
  text-transform: lowercase;
  font-weight: lighter;
  flex: 1;
}

.score-text,
.hits-text,
.diff-text {
  font-size: 1.2em;
}